.col-md-5, .col-md-7, .col-xs-12{
  padding: 0;
  background: black;
  min-height: 60px;
}
ul {
  list-style: none;
  float: right;
  margin-top: 17px;
  margin-right: 20px;
}
li {
  display: inline;
  margin-left: 25px;
}
h1 {
  display: inline-block;
  margin: 10px 10px 10px 20px;
  color: coral;
}
.active-link{
  color: blue;
}
a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}
a:hover, a:focus{
  text-decoration: none;
  color: blue;
}
.helloUser{
  color: white;
}
button{
  color: red;
  border: none;
  background: none;
}
@media screen and (max-width: 1000px){
  h1{
    font-size: 20px;
    margin-left: 0;
  }
  ul{
    padding-left: 0;
    margin-right: 0;
    margin-top: 11px;
    float: none;
  }
  a{
    font-size: 14px;
  }
  li{
    margin-left: 10px;
  }
  .col-md-5, .col-md-7, .col-xs-12{
    text-align: center;
    min-height: 46px;
  }
  li:first-child{
    margin-left: 0;
  }
}
