<div class="row changePassword">
  <div class="col-md-4"></div>
  <div class="col-md-4 createForm">
    <form #createForm="ngForm">
      <div class="form-group">
        <input type="password"
               class="form-control"
               required
               name="password"
               [(ngModel)]="oldPassword">
        <span class="floating">Old Password</span><span class="passwordHint"> 8 or more, letters and numbers</span>
      </div>
      <div class="form-group">
        <span class="label label-success" [innerHTML]="fitPassword"></span>
        <span class="label label-danger" [innerHTML]="alertNotFitPassword"></span>
      </div>
      <div class="form-group">
        <input type="password"
               class="form-control"
               required
               name="newPassword"
               [(ngModel)]="newPassword">
        <span class="floating">New Password</span><span class="passwordHint new"> 8 or more, letters and numbers</span>
      </div>
      <div class="form-group">
        <input type="password"
               class="form-control"
               required
               name="newPasswordAgain"
               [(ngModel)]="newPasswordAgain">
        <span class="floating">New Password Again</span><span class="passwordHint newAgain"> 8 or more, letters and numbers</span>
      </div>
      <div class="form-group">
        <span class="label label-success" [innerHTML]="alertCreated"></span>
        <span class="label label-danger" [innerHTML]="alertNotCreated"></span>
      </div>
      <button title="Fill in all fields" class="btn btn-primary launching change" [disabled]="!createForm.form.valid" (click)="changePassword()">Change</button>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>
