.changePassword{
  margin-top: 20px;
}
input{
  background: lightblue;
}
.createForm .form-group {
  position: relative;
  margin-bottom: 25px;
}
.createForm .form-control {
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 0;
  box-shadow: none;
}
.floating {
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 8px;
  transition: 0.2s ease all;
}
input:focus ~ .floating,
input:not(:focus):valid ~ .floating {
  top: -13px;
  left: 0;
  font-size: 11px;
  opacity: 1;
  color: gray;
}
.launching.change{
  display: block;
  margin: 0 auto;
}
.passwordHint{
  color: grey;
  font-size: 12px;
  position: absolute;
  pointer-events: none;
  left: 100px;
  top: 11px;
  transition: 4s ease all;
}
input:focus ~ .passwordHint,
input:not(:focus):valid ~ .passwordHint {
  display: none;
}
.passwordHint.new{
   left: 107px;
 }
.passwordHint.newAgain{
  left: 146px;
}

