.row.chat{
  margin-top: 10px;
  margin-bottom: 10px;
}
.sendChat{
  padding: 4px 12px;
  margin-top: 2px;
}
.btns{
  margin-top: 10px;
  text-align: center;
}
.onlineUsers h3{
  text-align: center;
}
.dateMessage, .dateOnlineUsers{
  text-align: right;
}
.dateMessage{
   padding-right: 25px;
}
.colorBlack{
  color: black;
}
.userNameAndMessage{
  padding-left: 25px;
}

