.allDataTitle {
  margin-top: 20px;
}
.allDataTitle > div {
  text-align: center;
  border-bottom: 1px solid black;
}
ul{
  list-style: none;
  padding-left: 0;
}
p{
  text-align: center;
}
.removeButton:hover{
  color: red;
}
li:hover{
  background: lightgoldenrodyellow;
}
.allData{
  padding-top: 10px;
  transition: 400ms background ease;
}
.allDataElement{
  padding: 0;
}
.inputTitleShow,.inputWhatToDoShow{
  border: none;
  border-radius: 5px;
  text-align: center;
  width: 90%;
}
.updateBackgroundColor{
  background: lightgreen;
}
.updateWrongBackgroundColor{
  background: lightcoral;
}
.removeButton{
  cursor: pointer;
}
@media screen and (max-width: 672px){
  h4{
    font-size: 14px;
  }
}
