.allDataTitle {
  margin-top: 20px;
  /*margin-bottom: 10px;*/
}
.allDataTitle > div {
  text-align: center;
  border-bottom: 1px solid black;
}
ul{
  list-style: none;
  padding-left: 0;
}
p{
  text-align: center;
}
span.glyphicon-remove:hover{
  color: red;
}
li:hover{
  background: lightgoldenrodyellow;
}
.allData{
  padding-top: 10px;
}
