<span *ngIf="onLogin">
  <div class="row">
    <div class="col-md-12">
      <h1>Login</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 createForm">
      <form #createForm="ngForm">
        <div class="form-group">
          <input type="text"
                 class="form-control"
                 required
                 name="email"
                 [(ngModel)]="email">
          <span class="floating-label-title">Email</span>
        </div>
         <div class="form-group">
          <input type="password"
                 class="form-control"
                 required
                 name="password"
                 [(ngModel)]="password">
          <span class="floating-label-name">Password</span>
        </div>
        <div class="form-group">
          <span class="label label-success" [innerHTML]="alertCreated"></span>
          <span class="label label-danger" [innerHTML]="alertNotCreated"></span>
        </div>
        <button class="btn btn-default launching" [disabled]="!createForm.form.valid" (click)="login()">Login</button>
        <button class="btn btn-default launching" (click)="onLoginChange()">Register</button>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</span>

<span *ngIf="!onLogin">
  <div class="row">
    <div class="col-md-12">
      <h1>Create New ToDo User</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 createForm">
      <form #createForm="ngForm">
        <div class="form-group">
          <input type="text"
                 class="form-control"
                 required
                 name="userName"
                 [(ngModel)]="userName">
          <span class="floating-label-name">User Name</span>
        </div>
        <div class="form-group">
          <input type="text"
                 class="form-control"
                 required
                 name="firstName"
                 [(ngModel)]="firstName">
          <span class="floating-label-name">First Name</span>
        </div>
        <div class="form-group">
          <input type="text"
                 class="form-control"
                 required
                 name="lastName"
                 [(ngModel)]="lastName">
          <span class="floating-label-title">Last Name</span>
        </div>
        <div class="form-group">
          <input type="text"
                 class="form-control"
                 required
                 name="email"
                 [(ngModel)]="email">
          <span class="floating-label-title">Email</span>
        </div>
        <div class="form-group">
          <input type="password"
                 class="form-control"
                 required
                 name="password"
                 [(ngModel)]="password">
          <span class="floating-label-name">Password</span>
        </div>
        <div class="form-group">
          <input type="password"
                 class="form-control"
                 required
                 name="passwordAgain"
                 [(ngModel)]="passwordAgain">
          <span class="floating-label-name">password Again</span>
        </div>
        <div class="form-group">
          <span class="label label-success" [innerHTML]="alertCreated"></span>
          <span class="label label-danger" [innerHTML]="alertNotCreated"></span>
        </div>
        <button class="btn btn-default launching" [disabled]="!createForm.form.valid" (click)="createNewUserForm()">Create new User</button>
        <button class="btn btn-default launching" (click)="onLoginChange()">Login</button>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</span>
